.App {
  color: white;
}

.leaflet-container {
  width: 95%;
  height: 85vh;
  border-style: solid;
  border-color: red;
  margin:auto;
}

.bikeIcon {
  border: 1px solid black;
  box-shadow: white 0px 0px 5px;
  border-radius: 5px;
}

.bikeIcon:hover {
    box-shadow: #FF4F00 0px 0px 5px;
    border: 1px solid #FF4F00;
}

.googleMapsImage {
  vertical-align: middle;
}

.bikingSpotsHeader {
  font-family: 'Montserrat';
}